<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ series_name }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 50px;
        }
        .episode-list {
            max-width: 600px;
            margin: 0 auto;
        }
        .episode-item {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">{{ series_name }}</h1>
        <ul class="list-group episode-list">
            {% for episode_number, m3u8_url in episodes.items() %}
                <li class="list-group-item episode-item">
                    <a href="{{ url_for('play', series_name=series_name, episode_number=episode_number) }}">Episode {{ episode_number }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>